*{
  margin: 0px;
  padding: 0px;
}

body{
  background-color: aqua;
  width: 100%;
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.passwordBox{
  width: 350px;
  padding: 20px;
  background-color: chartreuse;
}

.passwordBoxIn{
  display: flex;
}

.passwordBoxIn input{
  flex-basis: 80%;
  padding: 10px;
  font-size: large;
}

.passwordBoxIn button{
  flex-basis: 20%;
  padding: 10px 0px;
}

.passLength{
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}

.passLength input{
  padding: 6px 3px;
  width: 40px;
}

.head{
  text-align: center;
  padding: 2%;
}

.bottom{
  align-items:  center;
  padding: 10px 1px;
  text-align: center;
  font-size: large;
  width: 95%;
}